<html lang="en" data-bs-theme="light">
<th:block th:replace="~{waiting/layout/header::header}"></th:block>
<body style="">
<th:block th:replace="~{waiting/layout/headbar::headbar}"></th:block>


<div class="container-fluid">
    <div class="row">
        <th:block th:replace="~{waiting/layout/sidebar::sidebar}"></th:block>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="py-5 text-center container bg-main">
                <main>
                    <h1>현재 대기팀 3팀</h1>
                    <h1>나의 순번 1번째</h1>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 75%"></div>
                    </div>
                </main>
            </div>
            <div class="py-5 text-center container">

            </div>
            <div class="py-5 text-center container">
                <form id="waitingForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text">전화번호</span>
                        <input type="text" id="phoneNumber" class="form-control" placeholder="전화번호" aria-label="phone">
                        <span class="input-group-text">인원 수</span>
                        <input type="number" id="numberOfPeople" class="form-control" placeholder="인원수"
                               aria-label="user-count">
                    </div>
                    <button id="waitingBtn" type="button" class="btn btn-warning">대기하기</button>
                </form>
            </div>


        </main>
    </div>
</div>
<script src="https://getbootstrap.kr/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
<script src="https://getbootstrap.kr/docs/5.3/examples/dashboard/dashboard.js"></script>
<script src="../../js/scripts.js"></script>
<script>
    $(document).ready(function () {
        $('#waitingBtn').click(function (event) {
            event.preventDefault();
            var phoneNumber = $('#phoneNumber').val();
            var numberOfPeople = $('#numberOfPeople').val();
            var data = {
                phoneNumber: phoneNumber,
                numberOfPeople: numberOfPeople
            };
            $.ajax({
                type: 'POST',
                url: '/api/waiting', // Replace with your backend script URL
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    alert('대기 등록이 완료되었습니다.');
                    waitingSuccess();
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 200) {
                        return;
                    }
                    if (xhr.status === 308) {
                        alert('이미 대기중입니다.');
                        waitingSuccess();
                        return;
                    }
                    alert('error');
                }
            });
        });
    });

    function waitingSuccess() {
        $('#waitingBtn').remove();
        $('#waitingForm').append('<div><button id="moveBackBtn" type="button" class="btn btn-warning">1팀 뒤로가기</button></div>');
        $('#waitingForm').append('<div><button id="moveToLastBtn" type="button" class="btn btn-warning">맨 뒤로가기</button></div>');
        // 새로운 버튼에 이벤트 핸들러 추가
        $('#moveBackBtn').click(moveBack);
        $('#moveToLastBtn').click(moveToLast);
    }

    function moveBack(event) {
        event.preventDefault();
        var phoneNumber = $('#phoneNumber').val();
        var numberOfPeople = $('#numberOfPeople').val();
        var data = {
            phoneNumber: phoneNumber,
            numberOfPeople: numberOfPeople
        };
        $.ajax({
            type: 'POST',
            url: '/api/waiting/move-one-step-back',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                alert('1팀 뒤로 이동하였습니다.');
            },
            error: function (xhr, status, error) {
                if (xhr.status === 200) {
                    alert('1팀 뒤로 이동하였습니다.');
                    return;
                }
                alert('error');
            }
        });
    }

    function moveToLast(event) {
        event.preventDefault();
        var phoneNumber = $('#phoneNumber').val();
        var numberOfPeople = $('#numberOfPeople').val();
        var data = {
            phoneNumber: phoneNumber,
            numberOfPeople: numberOfPeople
        };
        $.ajax({
            type: 'POST',
            url: '/api/waiting/move-to-last',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                alert('맨 뒤로 이동하였습니다.');
            },
            error: function (xhr, status, error) {
                if (xhr.status === 200) {
                    alert('맨 뒤로 이동하였습니다.');
                    return;
                }
                alert('error');
            }
        });
    }
</script>
</body>
</html>