<html lang="en" data-bs-theme="light">
<th:block th:replace="~{waiting/layout/header::header}"></th:block>
<body style="">
<th:block th:replace="~{waiting/layout/headbar::headbar}"></th:block>


<div class="container-fluid">
    <div class="row">
        <th:block th:replace="~{waiting/layout/sidebar::sidebar}"></th:block>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="py-5 text-center container bg-main">
                <main>
                    <h1>안녕하세요 황태보감 입니다.</h1>
                    <div id="data-container"></div>
                </main>
            </div>
            <div class="py-5 text-center container">
            </div>
            <div class="py-5 text-center container">
                <main>
                    <a class="btn btn-yellow" href="/oauth2/authorization/kakao">Kakao Login</a><br>
                </main>
            </div>


        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eventsource-polyfill/0.9.6/eventsource.js"></script>
<script src="https://getbootstrap.kr/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
<script src="https://getbootstrap.kr/docs/5.3/examples/dashboard/dashboard.js"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/waiting-login.js}"></script>

</body>
</html>